In [78]:
import pandas as pd
data = pd.read_csv('/home/aditya/Downloads/examples/User_Data.csv', names = ["USER ID", "Gender", "Age", "Estimated Salary", "Purchased"])

In [79]:
data.head()

    USER ID  Gender  Age  Estimated Salary  Purchased
0  15624510    Male   19             19000          0
1  15810944    Male   35             20000          0
2  15668575  Female   26             43000          0
3  15603246  Female   27             57000          0
4  15804002    Male   19             76000          0

In [80]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
USER ID,349.0,1.569122e+07,71211.400910,15566689.0,15625395.0,15694288.0,15747097.0,15815236.0
Age,349.0,3.632378e+01,10.193024,18.0,28.0,35.0,42.0,60.0
Estimated Salary,349.0,7.126648e+04,34440.195449,15000.0,47000.0,71000.0,88000.0,150000.0
Purchased,349.0,3.065903e-01,0.461740,0.0,0.0,0.0,1.0,1.0

In [81]:
data.shape

(349, 5)

In [82]:
X = data.iloc[:,2:4]
y = data['Purchased']

In [83]:
y

0      0
1      0
2      0
3      0
4      0
      ..
344    1
345    0
346    1
347    1
348    0
Name: Purchased, Length: 349, dtype: int64

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [85]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [94]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(8,4),max_iter=1500, alpha=0.0001)
mlp.fit(X_train,y_train)

MLPClassifier(hidden_layer_sizes=(8, 4), max_iter=1500)

In [95]:
predictions = mlp.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[67  8]
 [ 4 26]]

In [96]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.94      0.89      0.92        75
           1       0.76      0.87      0.81        30

    accuracy                           0.89       105
   macro avg       0.85      0.88      0.87       105
weighted avg       0.89      0.89      0.89       105

In [89]:
mlp.coefs_[1] # coefs_ is a list of weight matrices, where weight matrix at index i represents the weights between layer i and layer i+1.

array([[ 1.33214196],
       [-1.10210036],
       [ 0.8465786 ],
       [-0.49346948],
       [-0.91834782],
       [-0.32100312],
       [ 0.75193403],
       [ 1.00575643]])

In [90]:
mlp.intercepts_ # intercepts_ is a list of bias vectors, where the vector at index i represents the bias values added to layer i+1.

[array([-0.39013293,  0.68749603, -0.17963823,  0.99216223,  0.14410359,
         0.80315136,  0.15139915,  0.24399607]),
 array([-0.79330182])]